body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    background-color: rgb(195, 161, 228);
}

.header, .section_1{
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    align-items: center;
    /* border: 10px solid red; */
}

.header .logo{
    font-weight: bold;
    font-size: 24px;
}

.header{
    padding: 0px 10pc;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: #e5e7eb;
}

.links{
    display: flex;
    gap: 25px;
}

.section_1{
    padding: 5pc 10pc;
    gap: 20px;
}

.section_1 .text{
    /* border: 10px solid red; */
    padding: 0;
    text-align: left;
}

.title1{
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

button{
    background-color: #5f1a8d;
    color: #e5e7eb;
    padding: 5px 25px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}

.section_1 img{
    width: 1000px;
    height: 300px;
}

.section_2{
    padding: 0px 10pc;
    padding-bottom: 3pc;
}

.section_2 .title2{
    font-size: 36px;
    font-weight:bolder;
    color: #1f2937;
    margin: 3pc 0px;
}

.section_2 .rest{
    display: flex;
    /* border: 10px solid red; */
    justify-content: center;
    gap: 20px;
}

.example{
    width: 300px;
    font-weight: bold;
    /* border: 5px solid red; */
}

.example img{
    width: 300px;
    height:auto;
    border-radius: 10px;
}

.section_3{
    padding: 8pc 16pc 6pc 17pc;
    background-color: #e5e7eb;
    color: #1f2937;
}

.section_3 p{
    font-size: 36px;
    font-style: italic;
    font-weight:100;
    text-align: left;
    /* border: 5px solid red; */
    margin: 0;
}

.section_3 h3{
    text-align: right;
    font-size: 22px;
    margin: 0;
    padding-right: 20px;
    /* border: 5px solid red; */
}

.footer .tag{
    display: flex;
    background-color: #9f3bc7;
    color: #e5e7eb;
    margin: 5pc 10pc;
    padding: 3pc 7pc;
    text-align: left;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}
.tag .text{
    line-height: 5px;
}

.tag .second{
    /* border: 2px solid white; */
}
